<div class="bcg-box">
    <div class="shadow">
        <div class="message-box">
            <h2>Ups... Coś poszło nie tak</h2>
        </div>
    </div>
</div>


@Styles.Render("~/Content/Custom/nocontent")