#gallery-container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 0;
}
.gallery-item
{
    display: inline-block;
    margin: 10px;
    position: relative;
    cursor: pointer;
}
.img-container
{
    width: 400px;
    overflow: hidden;
}
.img-container img
{
    height: 300px;
    width: auto;
    opacity: 0.9;
    transition: all 0.3s linear;
     -webkit-backface-visibility: hidden;
}
.caption
{
    position: absolute;
    z-index: 940;
    font-size: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    transition: all 0.3s linear;
}
.gallery-item:hover img
{
    -ms-transform: scale(1.01) translateZ(0); /* IE 9 */
    -webkit-transform: scale(1.01) translateZ(0); /* Chrome, Safari, Opera */
    transform: scale(1.01) translateZ(0);
    opacity: 1;
}
.gallery-item:hover .caption
{
    background-color: #1c74b2;
    color: #eeeeee;
}