body {
    background-color: #151d2b;
    color: #cccccc;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}
a
{
    text-decoration: none;
    color: #cccccc;
}
button {
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    outline: none;
    border-radius: 5px;
}
.entry-title-font {
    font-family: 'Marmelad', sans-serif;
}
#logo {
    font-family: 'Righteous', sans-serif;
    text-align: center;
    color: #cccccc;
    font-size: 55px;
    letter-spacing: 20px;
    text-transform: uppercase;
    line-height: 150px;
    margin: 0;
}
#logo, #logo h1 {
    background-image: url('/Images/kale-salad.jpg');
    background-attachment: fixed;
}
#logo h1 {
    background: rgba(0, 0, 0, 0);
}
#logo div {
    background: rgba(0, 0, 0, .6);
}
#topnav
{
    background-color: #1c74b2;
	text-align: center;
}
.menu {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li
{
    display: inline-block;
    width: 180px;
    border-right: 1px solid #0a5290;
    cursor: pointer;
    padding: 0px;
}
.menu li:hover
{
    background-color: #0a5290;
}
.menu li:first-child
{
    border-left: 1px solid #0a5290;
}
.menu a
{
    font-size: 20px;
    color: #cccccc;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.paragraph
{
    max-width: 900px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;
}
.paragraph h2
{
    margin-bottom: 40px;
}
.article-header
{
    color: #1c74b2;
    display: flex;
    align-content: center;
    line-height: 0;
}
.article-header::before,
.article-header::after
{
    content: '';
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    flex-grow: 1;
    margin: 0 20px;
}
/* STICKY */
/* TITLE BAR */
#title-bar, #title-bar-sticky {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("/Images/diagmonds_2x.png");
    padding: 10px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 20px;
}
#title-bar span
{
    letter-spacing: 0;
}
#title-bar-sticky
{
    display: none;
}
.sticky-title
{
    position: fixed;
    z-index: 950;
    top: 0;
    left: 0;
    right: 0;
}

/* ASIDE CONTENT*/
aside {
    display: block;
    margin: 0 30px 0 30px;
    width: 250px;
    position: relative;
}

.aside-content h2 {
    color: #1c74b2;
    text-align: center;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}

.aside-continent:first-of-type {
    border-top: 1px #1c74b2 solid;
}

.aside-continent a {
    max-width: 100%;
    padding: 15px;
    display: block;
    text-align: center;
    border-bottom: 1px #1c74b2 solid;
}

.aside-continent a:hover {
    background-color: #1c74b2;
    cursor: pointer;
}

.aside-ad-box {
    margin-top: 30px;
    margin-bottom: 50px;
}

.sticky-aside {
    position: fixed;
    z-index: 950;
    top: 0;
    width: 250px;
}

.sticky-aside-bottom {
    position: absolute;
    z-index: 950;
    bottom: 50px;
    width: 250px;
}

#random-entry {
    margin: 0;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#random-entry img {
    max-height: 100%;
}

#random-entry-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 998;
    transition: all 0.3s linear;
}

#random-entry a:hover > #random-entry-cover {
    background: rgba(0, 0, 0, .5);
    -ms-transform: scale(1.01) translateZ(0); /* IE 9 */
    -webkit-transform: scale(1.01) translateZ(0); /* Chrome, Safari, Opera */
}

#random-entry-caption {
    width: 234px;
    height: 382px;
    line-height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 7px;
    margin-left: 6px;
    z-index: 999;
    font-family: 'Marmelad', sans-serif;
    font-size: 30px;
    transition: all 0.3s linear;
    border: 2px solid #777777;
}

#random-entry-caption span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 10px;
}


/* PAGE PAGINATION */
.pagination
{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.pagination a
{
    color: #cccccc;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active-page
{
    background-color: #cccccc;
    color: #111111;
    font-weight: bold;
}
.pagination a:hover:not(.active-page) 
{
    background-color: #cccccc;
    color: #151d2b;
}

/* FOOTER */
footer
{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #aaaaaa;
    background-color: #151d2b;
}
footer > h
{
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px;
}
.socials
{
	width: 100%;
	text-align: center;
    background-color: #222222;
}
.socialdivs
{
	margin: auto;
    font-size: 0;
}
.social-button
{
	width: 240px;
	display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}
.social-button a
{
    display: block;
    width: 100%;
    height: 100%;
}
#fb-bt:hover
{
	background-color: #4668b3;
    color: #eeeeee;
}
#insta-bt:hover {
    background-image: url("/Images/insta-bcg.jpg");
    color: #eeeeee;
}
#yt-bt:hover
{
	background-color: #d94348;
    color: #eeeeee;
}
#tt-bt:hover
{
	background-color: #3095d3;
    color: #eeeeee;
}

.alert-text {
    color: #d94348;
    font-size: 12px;
}