#continents
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.continent
{
    height: 200px;
    width: 25%;
    min-width: 250px;
    background-color: gray;
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.continent img
{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    transition: all 0.3s linear;
    -webkit-backface-visibility: hidden;
}
.continent a:hover > img
{ 
    -ms-transform: scale(1.01) translateZ(0); /* IE 9 */
    -webkit-transform: scale(1.01) translateZ(0); /* Chrome, Safari, Opera */
    transform: scale(1.01) translateZ(0);
}
.continent a:hover > figcaption
{
    opacity: 0;
}
figcaption
{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    line-height: 200px;
    text-align: center;
    color: #eeeeee;
    font-size: 36px;
    text-shadow: 0 0 25px #000000, 0 0 25px #000000;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    transition: all 0.3s linear;
}
#about-author
{
    width: 100%;
    background-color: #262e3e;
}
#last-entries
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#last-entries > .paragraph
{
    padding-bottom: 0;
}
h3
{
    text-align: center;
}
.entries-box
{
    margin-top: 55px;
    margin-bottom: 30px;
    min-width: 80%;
}
.entry
{
    align-content: center;
    display: inline-block;
    background-color: #252525;
    margin: 10px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    cursor: pointer;
    text-align: justify;
    overflow: hidden;
    transition: all 0.3s linear;
}
.entry div:nth-child(2)
{
    padding: 10px 30px 10px 30px;
}
.entry a
{
    display: block;
    width: 100%;
    height: 100%;
}
.entry a:hover
{
    background-color: #191919;
}
.entry a:hover .img-container img
{
    opacity: 1;
    -ms-transform: scale(1.01) translateZ(0); /* IE 9 */
    -webkit-transform: scale(1.01) translateZ(0); /* Chrome, Safari, Opera */
    transform: scale(1.01) translateZ(0);
}
.img-container 
{
    display: flex;
    max-height: 250px;
    min-height: 250px;
    min-width: 250px;
    overflow: hidden;
}
.img-container img
{
    height: auto;
    width: 120%;
    opacity: 0.8;
    transition: all 0.3s linear;
    align-items: baseline;
     -webkit-backface-visibility: hidden;
}
#contact
{
    width: 100%;
    background-color: #262e3e;
}
#msg-button
{
    display: block;
    background-color: #1c74b2;
    width: 240px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    margin: 40px auto 20px auto;
    color: #cccccc;
    transition: all 0.5s linear; 
}

#msg-button:hover
{ 
    background-color: #095291;
    width: 280px;
}

#msg-button:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}