#top-section {
    width: 100%;
    height: 600px;
    background-color: #262e3e;
}

#entries-container {
    text-align: center;
    width: 1200px;
    margin: 0 auto 0 auto;
    display: flex;
}

.entry-caption {
    position: absolute;
    z-index: 940;
    font-size: 24px;
    text-align: left;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    transition: all 0.8s linear;
}

.primary-entry:hover img {
    opacity: 1;
}

.primary-entry:hover .entry-caption, .secondary-entry:hover .entry-caption {
    background-color: rgba(28, 116, 178, 0.6);
    color: #eeeeee;
}

.img-container {
    height: 540px;
    position: relative;
    overflow: hidden;
}

.resisable-pic {
    width: 700px;
    height: 600px;
}

/* PRIMARY */
.primary-entry {
    margin: 0;
    width: 750px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 30px 0 30px 0;
}

.primary-entry img {
    max-height: 100%;
}

.primary-entry-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 985;
    transition: all 0.3s linear;
}

.primary-entry a:hover > .primary-entry-cover {
    background: rgba(0, 0, 0, .5);
    -ms-transform: scale(1.01) translateZ(0); /* IE 9 */
    -webkit-transform: scale(1.01) translateZ(0); /* Chrome, Safari, Opera */
}

.primary-entry-caption {
    padding: 30px 30px 10px 30px;
}

.primary-entry-title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 0;
    font-size: 30px;
    font-family: 'Marmelad', sans-serif;
}

.secondary-entry-caption {
    padding: 10px 20px 0 20px;
}

.primary-entry-autor {
    font-size: 16px;
    color: #888888;
}

.secondary-entry-title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 0;
    font-size: 20px;
    font-family: 'Marmelad', sans-serif;
}

.secondary-entry-autor {
    font-size: 14px;
    color: #888888;
}

/* SECONDARY */

.secondary-entry {
    width: 400px;
    margin: 0 0 20px 20px;
}

#secondary-entries-container {
    margin-top: 30px;
    width: 400px;
}

.secondary-entry-img {
    height: 260px !important;
    width: 400px;
    height: 240px;
}